[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = ">=5.0"
jupyter_console = "*"
jupyter-book = ">=0.12"
matplotlib = "*"
numpy = "*"
pandas = "*"
datetime = "*"
h5py = "*"
ghp-import = "*"
bash-kernel = "*"
jupyter-console = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
