tornado >= 5.0
jupyter-book >= 0.12
matplotlib==3.5.3
numpy==1.21.6
pandas==1.1.5
datetime
h5py
netCDF4==1.5.8
ghp-import
bash-kernel
geopandas
git+https://github.com/brown-ccv/volume-data-converter@v3.0.0
